{% extends "base.html" %}

{% block title %}About{% endblock %}

{% block content %}
<section id="about" class="bg-dark text-white py-5 mt-5">
    <div class="container">
        <h1 class="text-center mb-4">About Me <br /> Developer <span class="text-warning">& Designer</span></h1>
        <p class="lead text-center mx-auto" style="max-width: 800px;">
            I am a front-end web developer. I can provide clean code and pixel-perfect design. I also make the website more interactive with web animations. Responsive design makes your website accessible to all users, regardless of their device.
        </p>
    </div>
</section>
{% endblock %}